body {
    background-color: rgb(63, 63, 255);
    height: 100vh;
    margin: 0;
    padding: 0;
}
#box1, #box2, #Admin{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}
.box1 {
    text-align: center;
    border: 1px rgb(255, 253, 253) solid;
    padding: 20px 30px;
    border-radius: 50px;
    background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(244, 247, 251) 100%);
    box-shadow: 5px 5px 10px rgb(0, 0, 148);
    width: 300px;
    animation: MoveToRight 1s ease-out forwards ;
}
.box2-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    visibility: hidden;
}
.box2 {
    text-align: center;
    border: 1px rgb(255, 253, 253) solid;
    padding: 30px;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.15);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    width: 330px;
    height: 380px;
}
.box3 {
    line-height: 5px; 
    margin-top: -10px;
}
#Admin{
    visibility: hidden;
    background-color: white;
    height: min-content;
    width: 600px;
    border-radius: 50px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    padding: 20px;
    text-align: center;
    transform-origin: left center;
}
#h1 {
    text-shadow: 3px 1px 3px rgb(155, 155, 253);
    color: rgb(16, 137, 211);
    font-size: 30px;
    font-family: "Kanit", sans-serif;
    font-weight: 600;
    font-style: normal;
    margin: 10px 0;
}
#line {
    text-align: left;
    margin-top: -10px;
    font-size: 14px;
    margin-left: 10px;
    font-family: "Sarabun", sans-serif;
    font-weight: 700;
    font-style: normal;
    line-height: 26px;
    margin-bottom: 10px;
}
ul li::marker {
    color: red;
}
.PassWord1 {
    margin-top: 15px;
}
#input_password1 , #input_User1{
    border-radius: 30px;
    box-shadow: #cff0ff 0px 10px 10px -5px;
    border: white;
    height: 35px;
    width: 200px;
    padding-left: 20px;
    font-family: "Kanit", sans-serif;
    font-weight: 300;
    font-style: normal;
}
#text2 {
    color: #0099ff;
    font-family: "Sarabun", sans-serif;
    font-weight: 600;
    font-style: normal;
    margin-top: 25px;
    font-size: 15px;
}
#input_password1:focus, #input_User1:focus{
    outline: none;
    border-inline: 2px solid #12b1d1;
}
#ShowPassword1, #ShowPassword2{
    position: absolute;
    transform: translate(70px, -29px);
}
#button1, #button2, #button3 {
    display: block;
    width: 50%;
    font-weight: bold;
    background: linear-gradient(45deg, rgb(16, 137, 211) 0%, rgb(18, 177, 209) 100%);
    color: white;
    padding-block: 10px;
    margin: 20px auto;
    border-radius: 20px;
    box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 20px 10px -15px;
    border: none;
    transition: transform 0.2s ease-in-out;
    margin-top: 20px;
    
}
#button1 {
    margin-top: 15px
}
#button1:hover, #button2:hover, #button3:hover{
    transform: scale(1.03);
    box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 23px 10px -20px;
}

#button1:active, #button2:active, #button3:active {
    transform: scale(0.95);
    box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 15px 10px -10px;
}
#button2 {
    margin: 0 auto;
}
#clearALL {
    display: block;
    margin: 0 auto 10px;
    background-color: #ff4444;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 12px;
    width: 50px;
    height: 30px;
    visibility: hidden;
    float: right;
}
#clearALL:hover {
    width: 55px;
    height: 35px;
    font-size: 18px;
}
#BackToLogin {
    visibility: hidden;
    background: rgba(255, 255, 255, 0);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0);
    font-size: 30px;
    cursor: pointer;
}
#BackToLogin:active, #BackToLogin:hover {
    font-size: 32px;
}
#UserTable, #EmailTable, #PasswordTable {
    display: inline-block;
    padding: 10px;
    vertical-align: top;
    width: 120px; 
}
.data-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: 40px;
    flex-wrap: nowrap;
    margin-bottom: 20px;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px rgba(131, 135, 195, 0.6);
    color: white;
}
#DataEmail, #DataUser, #DataPassword {
    white-space: pre-line;
    word-break: break-all;
    font-size: 12px;
    min-height: 50px;
}
h2 {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px rgba(131, 135, 195, 0.6);
    color: white;
}
.img {
    display: flex;
    align-items: center;
    justify-content: center;
}
#kuaitun {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
#kuaitun_finalfrom {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-left: -100px; 
    visibility: hidden;
}
#kuaitun:hover, #kuaitun_finalfrom:hover {
    animation: swing 1s ease-out forwards;
    filter: drop-shadow(1px 1px 20px rgba(0, 191, 255, 0.6));
}
#input_email2, #input_user2, #input_password2, #input_confirmpassword {
    margin-top: 20px;
    font-family: "Kanit", sans-serif;
    font-weight: 300;
    font-style: normal;
}
#button3 {
    margin-top: 30px;
    background: linear-gradient(to left, rgb(225, 250, 0), rgb(91, 255, 41));
    box-shadow: rgba(125, 255, 49, 0.878) 0px 20px 10px -15px;
    color: black;
}
#crateEmail {
    margin-top: -15px;
}
#input_email2, #input_user2, #input_password2, #input_confirmpassword {
    border-radius: 30px;
    box-shadow: rgb(255, 255, 49) 0px 10px 10px -5px;
    border: rgb(255, 255, 255);
    height: 35px;
    width: 200px;
    padding-left: 20px;
}
#input_email2:focus, #input_user2:focus, #input_password2:focus, #input_confirmpassword:focus {
    outline: none;
    border-inline: 2px solid yellow;
}
#highlights2 {
    font-size: 30px;
    text-shadow: 0 0 10px #00ff41,
             0 0 20px #00ff41,
             0 2px 30px rgba(0, 255, 65, 0.5);
    color: #00ff41 ;
}
#text1 {
    font-size: 15px; 
    margin-top: -5px; 
    color: #1089d3; 
    font-family: Sarabun, sans-serif;
    font-weight: 600; 
    font-style: normal;
}
@keyframes ScaleUpandFadeIn {
    0% {
        scale:0.2;
        opacity: 0;
    }
    100% {
        scale:1;
        opacity: 1;
    }
}
@keyframes swing {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}
@keyframes MoveToRight {
    from {
        margin-left: -220px;
        opacity: 0.2;
    }
    to {
        margin-left: 0px;
        opacity: 1;
    }
}
@media (max-width: 767px) {
     body {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        height: 100vh;
        min-height: 100vh;
        overflow: hidden;
    }

    .box1 {
        position: static;
        transform: none;
        width: 90%;
        max-width: 280px;
        height: auto;
        padding: 20px 20px;
        margin: 0 auto;
    }
    .box2-wrapper {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        padding: 20px;
        box-sizing: border-box;
    }
    .box2 {
        width: 90%;
        max-width: 280px;
        height: auto;
        padding: 20px 20px;
        margin: 0 auto;
        position: static;
        transform: none;
        margin-top: 10px;
    }
    #Admin {
        position: fixed;
        width: 90%;
        max-width: 500px;
        height: auto;
        max-height: 80vh;
        overflow-y: auto;
        padding: 15px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    #h1, #highlights2 {
        font-size: 29px;
        margin: 10px 0;
    }
    #input_User1, #input_password1, #input_email2, #input_user2, #input_password2, #input_confirmpassword {
        width: 85%;
        max-width: 200px;
        height: 35px;
        font-size: 14px;
        padding-left: 15px;
    }
    #button1, #button2, #button3 {
        width: 70%;
        max-width: 150px;
        padding: 8px;
        font-size: 14px;
        margin: 15px auto;
    }
    #text1, #text2 {
        font-size: 12px;
        padding: 0 5px;    
    }
    #line {
        font-size: 11px;
        line-height: 20px;
        margin-top: -5px;
        padding-left: 55px;
        margin-left: 0 auto;
    }
    #ShowPassword1, #ShowPassword2 {
        transform: translate(60px, -26px);
        font-size: 14px;
    }
    #kuaitun, #kuaitun_finalfrom {
        width: 90px;
        height: 90px;
        margin-top: 10px;
    }
    #kuaitun_finalfrom {
        margin-left: -90px;
    }
    #BackToLogin {
        top: 20px ;
        left: 20px;
        font-size: 24px;
        position: fixed;
    }
    #clearALL {
        position: fixed;
        top: 20px;
        right: 20px;
    }
    .data-container {
        gap: 15px;
    }
    #UserTable, #EmailTable, #PasswordTable {
        width: 100%;
    }
}